<% provide(:title, 'Home Page') %>

<% content_for :overview do %>
  <div class="col-lg-12 col-sm-12 col-xs-12 footer-overview">
    <h2>Overview of Features</h2>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <p>An education section offers definitions of terms & answers to frequently asked questions.
      A cursor hover feature is also present over terms (i.e. Premium, Deductible, etc.) in every application
      screen for quick consumer reference in the user's current page view.</p>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <p>Customers can contact support personnel via phone or in-application messaging for help in navigating the application.
      We support English & Spanish, the first & second national languages. A consumer can also click on Find Local Help for a list of community navigators in their area.</p>
    </div>
  </div>
<% end %>
<div class="homepage-logo-block">
  <div class="homepage-welcome-title text-center">
    <h1>Welcome to CareCompass</h1>
  </div>
  <div class="homepage-logo-title">
    <p>Explore Plans</br>In My Area</p>
  </div>
  <div class="homepage-logo-description row">
    <div class="homepage-logo-desc1 pull-left">
      <p></br>Marketplace</br>Glosssary & FAQ</p>
    </div>
    <div class="homepage-logo-desc2 pull-right">
      <p>Find Local</br>Help For My</br>Plan Search</p>
    </div>
  </div>
</div>

    



