/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$lightGray: #999;

/* header */
main {
  padding-bottom: 0;
}

.first-header-section {
  background: black;

  .header-link-block {
    float: right;

    .header-link {
      text-decoration: none;
      padding: 0 7px;

      .header-phone-icon {
        color: white;
      }

      .header-live-help-icon {
        color: white;
      }

      .header-locale-icon {
        color: white;
      }

      .header-locale-arrow {
        color: white;
      }

      .header-link-title {
        color: $lightGray;
      }  
    }  
  }
}

.second-header-section {
  background: white;
  position: relative;

  .navbar-header-redefine {
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -25px;
  }

  .navbar-brand-redefine {
    color: black;
    font-size: 28px;

    &:hover {
      color: $lightGray;
    }
  }

  .explore-view-block {
    background: white;    
    text-align: center;
    margin: 0 auto;
    float: none;
    padding: 8px 0px;

    .explore-block {
      span {
        font-style: italic;
        margin-right: 10px;
        margin-top: 10px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: #eaeaea;
        display: inline-block;

        li {
          display: inline-block;

          a {
            display: block;

            &:hover {
              background: #dddddd;
              font-weight: bold;
            }
          }

          .explore-plans {
            font-size: 17px;
            color: black;
            text-decoration: none;
          }

          .explore-providers {
            font-size: 17px;
            color: black;
            text-decoration: none;
          }  
        }
      }
    }

    .view-block {

      span:first-child {
        font-style: italic;
        margin-right: 10px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: #90b2e6;
        display: inline-block;

        li {
          display: inline-block;

          a {
            display: block;

            &:hover {
              background: #8aabdd;
              font-weight: bold;
            }
          }

          .view-all-plans {
            font-size: 17px;
            color: black;
            text-decoration: none;
          }

          .view-bookmarks {
            font-size: 17px;
            color: black;
            text-decoration: none;
          }  
        }
      }
    }  
  }
  

  .navbar-collapse-redefine {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;

    .navbar-nav-redefine {
      list-style: none;

      li {
        display: inline-block;
        background-color: #575c5a;      
        margin-right: 7px;
        padding: 0 5px;
        a {
          color: $lightGray;
          text-decoration: none;
          &:hover {
            color: white;
          }
        }
      }      
    }
  }
}

/* bootstrap redefine */
.navbar-inverse .navbar-nav > li > a {
  color: black;
  &:hover {
    color: $lightGray;
  }
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle {
  background-color: #caedf3;
}

/* homepage */
.homepage-wrapper {

  .homepage-logo-block {
    background: url("carecompass_logo.png") center center no-repeat;
    min-height: 377px;
    padding: 0 20px;

    .homepage-welcome-title {
      h1 {
        line-height: 89px;
        color: #0033cc;
        font-family: serif;
      }
    }

    .homepage-logo-title {
      p {
        line-height: 55px;
        text-align: center;
        visibility: hidden;
        font-size: 51px;
        color: red;
      }
    }

    .homepage-logo-description {
      margin-top: 45px;
      
      .homepage-logo-desc1 {
        p {
          color: #446691;
          font-size: 30px;
          font-family: serif;
        }
      }

      .homepage-logo-desc2 {
        p {
          color: #446691;
          font-size: 30px;
          font-family: serif;
        }
      }
    }
  }

  .homepage-desc-block {
    background: #2989d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #2989d8 6%, #9ab4e3 61%, #9ab4e3 88%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#2989d8), color-stop(61%,#9ab4e3), color-stop(88%,#9ab4e3), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2989d8 6%,#9ab4e3 61%,#9ab4e3 88%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2989d8 6%,#9ab4e3 61%,#9ab4e3 88%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2989d8 6%,#9ab4e3 61%,#9ab4e3 88%,#fff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2989d8 6%,#9ab4e3 61%,#9ab4e3 88%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#fff',GradientType=0 ); /* IE6-9 */

    padding-bottom: 20px;
    h2 {
      font-size: 22px;
      color: black;
      font-weight: bold;
    }
    p {
      line-height: 28px;
      color: black;
      font-size: 17px;
    }
  }

  .homepage-social-icons {
    position: fixed;
    right: 0;
    top: 94px;
    ul {
      list-style: none;
    }
  }
}

.authform {
  max-width: 778px;
  padding-top: 67px;
  .new_user {
    background: #07245e;
    h3 {
      color: white;
      font-weight: bold;
    }
    h4 {
      color: white;
      font-weight: bold;
    }
  }
}
